body {
    margin: 0;
    padding: 0;
}

.gray-bg {
    position: fixed;
    background: rgba(100, 100, 100, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.gray-bg > .modal-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    padding: 30px;
    background: white;
}

.gray-bg > .modal-wrapper > .modal-close {
    text-align: right;
    cursor: pointer;
}
