body {
    padding: 0;
    margin: 0;
    background: rgba(100, 100, 100, 0.1);
    box-sizing: border-box;
}

#App {
    width: 1200px;
    margin: 0 auto;
}

header > h1 {
    text-align: center;
    padding: 10px;
}

section {
    text-align: center;
}

section input[type="text"] {
    width: 50%;
    height: 50px;
    font-size: 25px;
    padding-left: 13px;
}

section > .input-btn {
    font-size: 25px;
    width: 10%;
    height: 50px;
    border: 1px solid rgba(100, 100, 100, 0.5);
    margin-left: 12px;
    padding: 5px 10px;
    cursor: pointer
}

.gray-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: rgba(100, 100, 100, 0.5);
}

.gray-bg > .modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.gray-bg > .modal-wrapper .error-box {
    background: white;
    padding: 15px 25px;
    box-shadow: 10px 10px 10px rgba(100, 100, 100, 0.7);
    min-width: 150px;
}

.gray-bg > .modal-wrapper .error-box > h2 {
    text-align: center;
    color: red;
}

.gray-bg > .modal-wrapper .error-box > .modal-content {
    text-align: center;
    margin-top: 20px;
    font-size : 20px;
}

.gray-bg > .modal-wrapper .error-box > .modal-close {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    border: 1px solid #000000;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.gray-bg > .modal-wrapper .error-box > .modal-close:hover {
    border: 1px solid rgba(100, 100, 100, 0.2);
    background: rgba(100, 100, 100, 0.2);
    color: white;
}

.loading {
    position: absolute;
    background: rgba(100, 100, 100, 0);
    width: 50px;
    height: 50px;
    border: 4px solid #fff;
    border-bottom: 4px solid transparent;
    border-radius: 50%;
    animation: animate 1s linear infinite;
    -moz-animation: animate 1s linear infinite;
    -o-animation: animate 1s linear infinite;
    -webkit-animation: animate 1s linear infinite;
}

@keyframes animate {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.main-list {
    width: 100%;
    display: flex;
}

.user-section {
    flex: 0.2;
}
.user-section > h2 {
    margin-top: 40px;
    text-align: center;
}
.user-section > ul {
    width: 100%;
    list-style: none;
    padding-right: 12px;
    padding-bottom: 12px;
    height: 80vh;
    overflow-y: scroll;
}

.user-section > ul > li {
    background: #ffffff;
    text-align: left;
    padding: 10px 13px;
    font-size: 20px;
    box-shadow: 5px 5px 5px #999999;
    cursor: pointer;
}

.user-section > ul > li + li {
    margin-top: 10px;
}

.user-section + .list-section {
    margin-left: 10px;
}

.list-section {
    flex: 0.8;
    display: flex;
    width: 70%;
    margin: 0 auto;
}
.list-section article {
    margin-top: 20px;
    flex: 0.5
}
.list-section article > h2 {
    text-align: center;
}

.list-section article > ul {
    list-style: none;
    height: 80vh;
}

.list-section article > ul > li {
    background: #ffffff;
    text-align: left;
    padding: 10px 13px;
    font-size: 20px;
    box-shadow: 5px 5px 5px #999999;
    cursor: pointer;
}

.list-section article > ul > li > button {
    float: right;
    font-size: 18px;
    border: 1px solid rgba(100, 100, 100, 0.3);
    border-radius: 7px;
    cursor: pointer;
    color: rgba(100, 100, 100, 0.3)
}

.list-section article > ul > li > button:hover {
    background: rgba(100, 100, 100, 0.4);
    color: white;
}

.list-section article > ul > li + li {
    margin-top: 15px;
}
